<html>
<head>
<title> My First Page</title>
<link rel="stylesheet" type="text/css" 
href="../public/css/style.css">

</head>

<style>
h2,p,h1{
    color:firebrick;
    background-color: cadetblue;
    
}
#one{
    background-color: blue;
    display: inline-block;
    
}

#two{
    background-color:green;
    
   
}

#menu li{
    display: inline;
    margin-left: 1em;
    color: black;
}
#menu a{
  text-decoration:none; 
}


</style>

<body>

    <div id="menu">
        <ul>
          <a href="#one"><li>About Us</li></a>  
          <a href="#two"> <li>Training</li></a>
            <li>Services</li>
        </ul>

    </div>

<h1 style="color:yellow ;background-color:aqua;"> 
    <span style="color:green;">My </span>
    <span style="color:blue;">First</span> 
    <span style="color:pink;">Class </span>
    On HTML</h1>
<div  id="one" style=" width:400px; height:400px; ">
  <h1>About Us</h1>  
</div>


<div  id="two" style="width:400px; height:400px; ">

        <h1>Trainings</h1>  

</div>

</body>







</html>